@media screen {

    p {
        line-height: 32px ;
        text-indent: 30px; 
    }

    section p::first-letter { 
        font-size: 30px;
        color: #76cdd7;
    }

    h2 + p {
        font-style: italic;
    }

    a:visited {
        color: silver;
    }

    ol li a.text::after {
        content: 'New';
        color: red;
        font-size: 8px;
        font-weight: bold;
        position: relative;
        top: -8px;
    }

    ol li a:hover {
        color: #31B0D5;
        text-decoration: underline;
        border-bottom: 1px solid #31B0D5;
    }

    input.form-control,
    textarea.form-control,
    button.submit-btn {
        color: red;
    }

    img.thumbnail {
        border-radius: 50%;
        overflow: hidden;
    }

    .box-bg:hover,
    .submit-btn:hover {
        background-color: #31B0D5;
    }

    .box-bg:hover h2 {
        color: white;
        font-weight: bold;
    }

    .tm-content-box,.tm-sidebar {
        box-shadow: 0 0 20px #808080;
    }

    section:not(.blocks)::before,
    #home::before {
        content: '';
        position: absolute;
        border: 30px solid transparent;
        border-top: 0px solid transparent;
        border-left: 150px solid #31B0D5;
    }

    #ideas h2 {
        color: #dcdcdc;
        letter-spacing: 5px;
    }

    .blocks .boxes .box:nth-child(odd) {
        background-color: #F2F2F2;
    }

    .blocks .boxes .box p::first-letter {
        color: black;
    }

    .tm-main-nav .tm-nav-item:not(:last-of-type) {
        border-bottom: 1px dotted silver;
    }

    .mandatory-field {
        position: relative;
    }

    .mandatory-field::after {
        content: '*';
        color: red; 
        font-weight: bold;
    }
}

/* Style for printing */
@media print {
    body {
        background: white;
    }

    .tm-sidebar {
        display: none;
    }

    .tm-banner {
        height: 250px;
        padding: 10px 30px;
    }

    .tm-main-content {
        margin-left: 0px;
        padding-left: 0px;
    }

    .tm-content-box {
        margin-bottom: 10px;
    }

    h2.tm-section-title {
        color: blue;
    }

    .tm-team-description-container {
        max-width: 100%;
    }

    .tm-main-content .tm-content-box.flex-2-col {
        flex-direction: column;
    }

    section:not(:first-of-type),
    #about {
        display: none;
    }

}
