.search-container {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0px;
    right: 0px;
    background: $white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: $shadow;

    .search-input {
        margin-left: 20px;
        border: 0;
        border-bottom: 1px solid #000;
        padding: 5px 0;
        font-size: 14px;
    }
}

table {
    border-spacing: 0;
    width: 95%;
    margin: 0 auto;
    box-shadow: $shadow;

    thead {
        background-color: $turqoise;
        color: $white;

        th {
            padding: 10px 5px;
        }
    }

    tbody {
        tr:nth-child(odd) {
            background-color: $gray;
        }
        .user-img {
            max-width: 60px;
            max-height: 60px;
        }

        td {
            padding: 5px;
            font-size: 13px;
        }
    }
}

.empty-list {
    text-align: center;
    margin: 10% auto;
    font-size: 20px;
    color: $red;
}

.load-more-container {
    position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0;
    background: $white;
    padding: 10px 0 20px 0;
    box-shadow: $shadow;

    .display-number {
        text-align: center;
    }
}

button {
    cursor: pointer;
    display: block;
    border: none;

    &.btn-default {
        color: #000;
        background: $gray;
        padding: 15px;
        margin: 0 auto;
        border-radius: 20px;
        font-size: 16px;
        text-transform: uppercase;
        width: 50%;
        box-shadow: $shadow;
    }

    &.delete-btn {
        background: $red;
        color: $white;
        font-size: 14px;
        box-shadow: $shadow;
        padding: 5px 10px;
    }
}

