<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FL9_14_Angular_v1</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body ng-controller="AppCtrl as main">
  <div class="container">

    <h2>POSTS WALL</h2>
    <input type="text" ng-model="main.searchText.title" placeholder="Search by title...">

    <section class="post-item" ng-repeat="post in main.posts | filter:main.searchText:strict track by $index">
      <div class="user-info">
        <div class="post-avatar">
          <img ng-src="{{post.photo}}" alt="user-avatar">
        </div>
        <p class="user-name">{{post.userName}}</p>
      </div>

      <h3 class="post-title" ng-if="!post.isEdited">{{post.title}}</h3>
      <input ng-if="post.isEdited" type="text" ng-model="post.title" required>
      <p class="post-body" ng-if="!post.isEdited">{{post.message}}</p>
      <textarea ng-if="post.isEdited" type="text" class="post-text" ng-model="post.message"></textarea>
      <div class="likes">
        <button ng-click="main.likeToggle(post)" ng-class="{'liked': post.isLiked}">
          <i class="fa fa-heart"></i>
        </button>
        <span>{{post.likes}}</span>
      </div>

      <div ng-if="post.userId === main.currentUser.id">
        <button class="post-btn" ng-if="!post.isEdited" ng-click="main.editPost(post)">
          Edit
        </button>
        <button type="submit" class="post-btn" ng-if="post.isEdited" ng-click="main.saveEditedPost(post)">
          Save
        </button>
        <button type="reset" class="post-btn cancel-btn" ng-if="post.isEdited" ng-click="main.cancelEditing(post)">
          Cancel
        </button>
      </div>

    </section>

    <button ng-if="!main.newPost" class="post-btn" ng-click="main.addPost()">
      Add new post
    </button>

    <div ng-if="main.newPost" class="post-item">
      <form name="newPost" class="new-post-form">
        <div class="user-info">
          <div class="post-avatar">
            <img ng-src="{{main.newPost.photo}}" alt="photo">
          </div>
          <p class="user-name">{{main.newPost.userName}}</p>
        </div>
        <div class="post-title">
          <input type="text" ng-model="main.newPost.title" required>
          <textarea type="text" class="post-text" ng-model="main.newPost.message"></textarea>
        </div>
      </form>

      <button type="submit" class="post-btn" ng-click="main.savePost()">
        Save
      </button>
      <button type="reset" class="post-btn cancel-btn" ng-click="main.cancelNewPost()">
        Cancel
      </button>

    </div>

    <script src="app/app.module.js"></script>
    <script src="app/app.constants.js"></script>
    <script src="app/app.controller.js"></script>

</body>

</html>