$fontFace: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$contentBackground: #efefef;
$articleBackground: #fff;
$textColor: #757575;
$borderColor: #CFD8DC;
$articleHeaderColor: #607D8B;
$defaultColor: #FF5722;
$secondaryColor: #BDBDBD;

$containerWidth: 960px;
$defaultFontSize: 14px;


