$fontFace: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$contentBackground: #fff;
$articleBackground: #efefef;
$textColor: #607D8B;
$borderColor: #607D8B;
$articleHeaderColor: #0097A7;
$defaultColor: #00BCD4;
$secondaryColor: #009688;
$containerWidth: 960px;
$defaultFontSize: 14px;